body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button {
    margin: 20px 0 20px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(0, 7, 211);
    padding: 10px;
    border: 3px lightgrey solid;
}

.container {
    border: 1px black solid;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.box-fill {
    background-color: black;
}